{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>
    {% block site_title %}SLT Home{% endblock site_title %}
    </title>

    <link rel="icon" type="image/png" href="{% static 'images/ampere_favicon.png' %}">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" value="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block site_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.qtip.min.css' %}">
    {% block page_css %}{% endblock page_css %}
    {% endblock site_css %}
</head>
<body>
    {% block site_body %}
    <nav class="navbar navbar-fixed-top bg-info" style="background: #F93822">
        <h1 style="background: #F93822;color: White;margin: 10px">
            <a href="/" style="color: White">SLT Server</a>
            <a href="#" class="pull-right" style="font-size: 14px;color: #280b92">Version <b>0.0.1</b></a>
        </h1>
        <div class="pull-right" style="font-size: 14px;color: #280b92">
            Hi {{ user.get_full_name }},&nbsp;
            <a href="{% url 'password_change' %}">CHANGE PASSWORD</a>&nbsp;/&nbsp;
            <a href="{% url 'logout' %}">LOGOUT</a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col sidebar" style="witdth:220px">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#" style="text-transform: uppercase">Management</a>
                    </li>
                    {% if user.profile.need_admin %}
                    <li>
                        <a href="/user">User</a>
                    </li>
                    {% endif %}
                    {% if user.profile.need_operator %}
                    <li>
                        <a href="/bench">Bench</a>
                    </li>
                    {% endif %}
                    {% if user.profile.need_dev %}
                    <li>
                        <a href="/test">DUT test</a>
                    </li>
                    {% endif %}
                    {% if user.profile.need_operator %}
                    <li>
                        <a href="/lotnumber">Customer Lot</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#" style="text-transform: uppercase">Production Result</a>
                    </li>
                    <li>
                        <a href="/summary/?Screened=1&Arch=skylark">Skylark Screening</a>
                    </li>
                    <li>
                        <a href="/summary/?Screened=1&Arch=storm">Storm Screening</a>
                    </li>
                </ul>
                {% if user.profile.need_dev %}
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#" style="text-transform: uppercase">Software test suite</a>
                    </li>
                    <li>
                        <a href="/test?Default=1">Default Test Suite</a>
                    </li>
                    <li>
                        <a href="/command?Arch=ast2500">AST2500 Test Suite</a>
                    </li>
                    <li>
                        <a href="/command?Arch=skylark">Skylark Test Suite</a>
                    </li>
                    <li>
                        <a href="/command?Arch=storm">Storm Test Suite</a>
                    </li>
                </ul>
                {% endif %}
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#" style="text-transform: uppercase">Engineering Analyze</a>
                    </li>
                    <li>
                        <a href="/summary/?Screened=0&Arch=osprey">Osprey</a>
                    </li>
                    <li>
                        <a href="/summary/?Screened=0&Arch=skylark">Skylark</a>
                    </li>
                    <li>
                        <a href="/summary/?Screened=0&Arch=storm">Storm</a>
                    </li>
                </ul>
            </div>
            <div class="col" id='page_content' style="margin-left: 220px">
                <h2 style="text-align: left;color: #98CE50" id='page_title'>
                    {% block page_title %}{% endblock page_title %}
                </h2>
                <br>
                <div class="article">
                    {% block page_content %}
                    {% endblock page_content %}
                </div>
            </div>
        </div>
    </div>
    {% endblock site_body %}
    {% block site_js %}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.qtip.min.js' %}"></script>
    {% block page_js %}{% endblock page_js %}
    {% endblock site_js %}
</body>
</html>