{% extends 'base.html' %}
{% load static from staticfiles %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slt_bench.css' %}">
{% endblock page_css %}

{% block page_title %}SLT Bench Monitor{% endblock page_title %}

{% block page_content %}
<div class="container">
    <div class="row">
        <table class="table table-list-search">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bench</th>
                    <th>Board Serial</th>
                    <th>Socket Serial</th>
                    <th>Operator</th>
                    <th>MAC address</th>
                    <th>IP address</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for b in Benches%}
                <tr>
                    <td>{{ b.Number }}</td>
                    <td>{{ b.Name }}</td>
                    <td>{{ b.BoardSerial }}</td>
                    <td>{{ b.SocketSerial }}</td>
                    <td>{{ b.User.profile.DisplayName}}</td>
                    <td>{{ b.MacAddress }}</td>
                    <td>{{ b.IpAddress }}</td>
                    <td>{{ b.Status }}</td>
                    <td class="control-buttons">
                        <a class="edit" data-tooltip="Edit"><i class="material-icons">&#xE254;</i></a>
                        <a class="history" data-tooltip="History"><i class="material-icons">&#xE889;</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
</div>
{% endblock page_content %}

{% block page_js %}
    <script type="text/javascript" src="{% static 'js/slt_bench.js' %}"></script>
{% endblock page_js %}