{% extends 'base.html' %}
{% load static from staticfiles %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.qtip.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slt_search.css' %}">
{% endblock page_css %}

{% block site_title %}SLT HOME{% endblock site_title%}

{% block page_title %}{{ SummMode|title }} Screening > {{ ArchName|title }}{% endblock page_title %}

{% block page_content %}
<table class="search_table">
    <tbody>
        <tr>
            <td class="label_thead">Part ID:</td>
            <td class="label_thead">Lot Number:</td>
            <td class="label_thead">Bench Number:</td>
            <td class="label_thead">Board Serial:</td>
        </tr>
        <tr>
            <td class="field_thead" data-tooltip="ECID & CPUID">
                <select id="id_PartId" multiple="multiple" data-placeholder="Please choose one or more"></select>
            </td>
            <td class="field_thead" data-tooltip="Lot Number">
                <select id="id_LotNum" multiple="multiple" data-placeholder="Please choose one or more"></select>
            </td>
            <td class="field_thead" data-tooltip="Bench Number">
                <select id="id_BenchNum" multiple="multiple" data-placeholder="Please choose one or more"></select>
            </td>
            <td class="field_thead" data-tooltip="Board Serial">
                <select id="id_BoardSerial" multiple="multiple" data-placeholder="Please choose one or more"></select>
            </td>
        </tr>
        <tr>
            <td class="label_thead">Test Name:</td>
            <td class="label_thead">Operator:</td>
            <td class="label_thead">Failure Signature:</td>
            <td class="label_thead">Test Environments:</td>
        </tr>
        <tr>
            <td class="field_thead" data-tooltip="Test Name">
                <select id="id_TestName" multiple="multiple" data-placeholder="Please choose one or more"></select>
            </td>
            <td class="field_thead" data-tooltip="Operator Name">
                <select id="id_Operator" multiple="multiple" data-placeholder="Please choose one or more">
                    {% for o in Operators %}
                        <option value="{{ o.id }}">{{ o.profile.DisplayName }}</option>
                    {% endfor  %}
                </select>
            </td>
            <td class="field_thead" data-tooltip="Failure Signature">
                <select id="id_FailSign" multiple="multiple" data-placeholder="Please choose one or more"></select>
            </td>
            <td class="field_thead" data-tooltip="Test environments">
                <select id="id_TestEnv" multiple="multiple" data-placeholder="Please choose one or more">
                    {% for k, v in TestEnvironments.items %}
                        <optgroup label="{{ k }}">
                            {% for i in v %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="label_thead">Socket Serial</td>
            <td class="label_thead">Execution Date:</td>
            <td class="label_thead">&nbsp;</td>
            <td class="label_thead">&nbsp;</td>
        </tr>
        <tr>
            <td class="field_thead" data-tooltip="Socket Serial">
                <select id="id_SocketSerial" multiple="multiple" data-placeholder="Please choose one or more"></select>
            </td>
            <td class="field_thead" data-tooltip="Execution Date">
                <span class="datepicker_block">
                    <label>From date:&nbsp;</label>
                    <input type="date" class="dp" id="id_FromDate">
                </span>
                <span class="datepicker_block">
                    <label>To date:&nbsp;</label>
                    <input type="date" class="dp" id="id_ToDate">
                </span>
            </td>
            <td class="field_thead">&nbsp;</td>
            <td class="field_thead">&nbsp;</td>
        </tr>
    </tbody>
</table> 

<div>
    <input class="button" id="id_Search" data-tooltip="Click to search." type="image" src="{% static 'images/search.png' %}" />
    <input class="button" id="id_Statistics" data-tooltip="Click to view data statistic." type="image" src="{% static 'images/statistic.png' %}" />
    <input class="button" id="id_Report" data-tooltip="Click to get report" type="image" src="{% static 'images/analytics.png' %}" />
</div>

<br />

<label>
    Found: <b id="PartCount">0</b> parts (Pass:<b id="PartPass">0</b> - Fail:<b id="PartFail">0</b>)
</label>

<div style="text-align: center; display:none;" id="id_loading">
    <img src="{% static 'images/loading.gif' %}"/>
</div>

<table id="SearchingSummary" class="hover display" style="width:100%">
</table>


<!--//////////////////////////////// Test Result Detail ///////////////////////////////////////////-->
<div id="TestDetail_Dlg" title="Test Result Detail" style="display: none;max-height: 300px;">
    <table class="table table-bordered" id="TestDetail_Tbl">
        <thead>
            <tr>
                <th style="text-align:center;">Test</th>
                <th style="text-align:center;">Pass</th>
                <th style="text-align:center;">Fail</th>
                <th style="text-align:center;">Executing Time</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add data here -->
        </tbody>
    </table>
</div>

<!--//////////////////////////////// Test History ///////////////////////////////////////////-->
<div id="TestHistory_Dlg" title="Test History" style="display: none;">
    <table class="table table-bordered" id="TestHistory_Tbl">
        <thead>
            <tr>
                <th style="text-align:center;">Test</th>
                <th style="text-align:center;">Bench</th>
                <th style="text-align:center;">Operator</th>
                <th style="text-align:center;">Result</th>
                <th style="text-align:center;">Date</th>
                <th style="text-align:center;">Environments</th>
                <th style="text-align:center;">Details</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add data here -->
        </tbody>
    </table>
</div>


{% endblock page_content %}

{% block page_js %}
    <script type="text/javascript">
        var SummMode = "{{ SummMode }}";
        var ArchName = "{{ ArchName }}";
    </script>
    <script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.qtip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slt_search.js' %}"></script>
{% endblock page_js %}