{% extends 'base.html' %}
{% load static from staticfiles %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.qtip.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/slt_testconfig.css' %}">
{% endblock page_css %}

{% block page_title %}Test Configurations{% endblock page_title %}

{% block page_content %}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Select Operator:&nbsp;</h2>
                    <select id="id_Operator">
                        <option disabled selected value>&nbsp;</option>S
                    {% for o in Operators %}
                        <option value="{{ o.id }}">{{ o.profile.DisplayName }}</option>
                    {% endfor  %}
                    </select>
                </div>
            </div>
        </div>
        <div class="table-csv">
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <a id="id_ImportCsv" href="" data-tooltip="Import All Test Plans">
                        <i class="fa fa-clone"></i> Import
                    </a>
                    &nbsp;|&nbsp;
                    <a id="id_ExportCsv" href="" data-tooltip="Export All Test Plans">
                        <i class="fa fa-save"></i> Export
                    </a>
                </div>
            </div>
        </div>
        <table id="id_TestPlansTable" class="table table-bordered table-hover TestPlansTable">
            <thead class="thead-light">
                <tr>
                    <th>Description</th>
                    <th>Board Settings</th>
                    <th>Test Configurations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display: none;">
                    <td>Dummy Row</td>
                    <td>
                        <a class="settings edit-board-settings" data-tooltip="Edit Board Settings"><i class="material-icons">&#xE8B8;</i></a>
                    </td>
                    <td>
                        <a class="settings edit-test-suites" data-tooltip="Edit Test Suites"><i class="material-icons">&#xE8B8;</i></a>
                    </td>
                    <td>
                        <a class="accept accept-test-plan" data-tooltip="Accept"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit edit-test-plan" data-tooltip="Edit"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete delete-test-plan" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info btn-new new-test-plan"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="id_BoardSettingsDialog" class="container" style="display: none;">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2 id="id_BoardSettingsTitle"></h2>
                </div>
            </div>
        </div>
        <div class="table-csv">
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <a id="id_ImportBoardSetting" href="" data-tooltip="Import Board Settings">
                        <i class="fa fa-clone"></i> Import
                    </a>
                    &nbsp;|&nbsp;
                    <a id="id_ExportBoardSetting" href="" data-tooltip="Export Board Settings">
                        <i class="fa fa-save"></i> Export
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea id="id_BoardSettingsText" style="width:550px;height:450px;resize:none;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="id_TestSuitesDialog" class="container" style="display: none;">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2 id="id_TestSuitesTitle"></h2>
                </div>
            </div>
        </div>
        <div class="table-csv">
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <a id="id_ImportTestSuites" href="" data-tooltip="Import Test Suites">
                        <i class="fa fa-clone"></i> Import
                    </a>
                    &nbsp;|&nbsp;
                    <a id="id_ExportTestSuites" href="" data-tooltip="Export Test Suites">
                        <i class="fa fa-save"></i> Export
                    </a>
                </div>
            </div>
        </div>
        <table id="id_TestSuitesTable" class="table table-bordered table-hover TestSuitesTable">
            <thead class="thead-light">
                <tr>
                    <th class="control-button">Enable</th>
                    <th>Display</th>
                    <th class="control-button" style="width: 150px;">Mode</th>
                    <th class="control-button">1st Test</th>
                    <th class="control-button">2nd Test</th>
                    <th class="control-button">Error 1</th>
                    <th class="control-button">Error 2</th>
                    <th class="control-button">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display: none;">
                    <td class="control-button">
                        <label class="switch">
                            <input type="checkbox" class="enable-test-suite" value="1">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>Dummy Test Suite</td>
                    <td class="control-button">
                        <select class="selection sltmodes-selection">
                            {% for m in SltModes %}
                            <option value="{{ m.id }}">{{ m.Mode }}</option>
                            {% endfor  %}
                        </select>
                    </td>
                    <td class="control-button">
                        <a class="settings edit-test-1" data-tooltip="Edit Main Test"><i class="material-icons">&#xE8B8;</i></a>
                    </td>
                    <td class="control-button">
                        <a class="settings edit-test-2" data-tooltip="Edit Secondary Test"><i class="material-icons">&#xE8B8;</i></a>
                    </td>
                    <td class="control-button">
                        <a class="settings edit-error-1" data-tooltip="Edit Error Monitor 1"><i class="material-icons">&#xE8B8;</i></a>
                    </td class="control-button">
                    <td class="control-button">
                        <a class="settings edit-error-2" data-tooltip="Edit Error Monitor 2"><i class="material-icons">&#xE8B8;</i></a>
                    </td>
                    <td class="control-button">
                        <a class="accept accept-test-suite" data-tooltip="Accept"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit edit-test-suite" data-tooltip="Edit"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete delete-test-suite" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info btn-new new-test-suite"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="id_TestStepsDialog" class="container-fluid" style="display: none;">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2 id="id_TestStepsTitle"></h2>
                </div>
            </div>
        </div>
        <div class="table-csv">
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <a id="id_ImportTestSteps" href="" data-tooltip="Import Test Steps">
                        <i class="fa fa-clone"></i> Import
                    </a>
                    &nbsp;|&nbsp;
                    <a id="id_ExportTestSteps" href="" data-tooltip="Export Test Steps">
                        <i class="fa fa-save"></i> Export
                    </a>
                </div>
            </div>
        </div>
        <table id="id_TestStepsTable" class="table table-bordered table-hover TestStepsTable">
            <thead class="thead-light">
                <tr>
                    <th>Test</th>
                    <th style="width: 110px;">Mode</th>
                    <th style="width: 90px;">Fail Stop</th>
                    <th style="width: 120px;">Prompt</th>
                    <th>Command</th>
                    <th>Pass</th>
                    <th>Fail</th>
                    <th style="width: 90px;">Timeout</th>
                    <th>Message</th>
                    <th style="width: 90px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display: none;">
                    <td>
                        <select class="selection ts-test-selection">
                            {% for m in Commands %}
                            <option value="{{ m.Test }}">{{ m.Test }}</option>
                            {% endfor  %}
                        </select>
                    </td>
                    <td>
                        <select class="selection ts-run-mode">
                            {% for m in RunModes %}
                            <option value="{{ m.Mode }}">{{ m.Mode }}</option>
                            {% endfor  %}
                        </select>
                    </td>
                    <td class="control-button">
                        <label class="switch">
                            <input type="checkbox" class="ts-fail-stop" value="1">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td><input class="form-control input-sm ts-prompt" type="text"></td>
                    <td><input class="form-control input-sm ts-cmd" type="text"></td>
                    <td><input class="form-control input-sm ts-pass" type="text"></td>
                    <td><input class="form-control input-sm ts-fail" type="text"></td>
                    <td><input class="form-control input-sm ts-timeout" type="number" min=0 style="text-align: center;"></td>
                    <td><input class="form-control input-sm ts-msg" type="text"></td>
                    <td class="control-button">
                        <a class="delete delete-test-step" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info btn-new new-test-step"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="id_ErrorMonitorDialog" class="container-fluid" style="display: none;">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2 id="id_ErrorMonitorTitle"></h2>
                </div>
            </div>
        </div>
        <div class="table-csv">
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <a id="id_ImportErrorMonitor" href="" data-tooltip="Import Error Monitor">
                        <i class="fa fa-clone"></i> Import
                    </a>
                    &nbsp;|&nbsp;
                    <a id="id_ExportErrorMonitor" href="" data-tooltip="Export Error Monitor">
                        <i class="fa fa-save"></i> Export
                    </a>
                </div>
            </div>
        </div>
        <table id="id_ErrorMonitorTable" class="table table-bordered table-hover ErrorMonitorTable">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Expected</th>
                    <th>Result</th>
                    <th>Timeout</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display: none;">
                    <td><input class="form-control input-sm em-name" type="text"></td>
                    <td><input class="form-control input-sm em-type" type="text"></td>
                    <td><input class="form-control input-sm em-expected" type="text"></td>
                    <td><input class="form-control input-sm em-result" type="text"></td>
                    <td><input class="form-control input-sm em-timeout" type="number" min=0 style="text-align: center;"></td>
                    <td><input class="form-control input-sm em-msg" type="text"></td>
                    <td class="control-button">
                        <a class="delete delete-monitor-rule" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info btn-new new-monitor-rule"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}

{% block page_js %}
    <script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.qtip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slt_testconfig.js' %}"></script>
{% endblock page_js %}