{% extends 'base.html' %}
{% load static from staticfiles %}


{% block site_title %}SLT Password Change{% endblock site_title %}
{% block page_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/slt_login.css' %}"/>
{% endblock page_css %}

{% block site_body %}
<div class="main">
    <div class="login-form">
        <div class="head">
            <img src="{% static 'images/ampere_logo.png' %}" alt=""/>
        </div>
        <h1>Password Changed Successfully</h1>
        <p>Return <a href="/accounts/login">Login</a> page</p>
    </div>
    <div class="copy-right">
        <!-- <p>Copyrights &copy; <a href="http://www.amperecomputing.com">VDC SLT</a></p> -->
    </div>
</div>
{% endblock site_body %}


{% block page_js %}
    <script type="text/javascript" src="{% static 'js/slt_login.js' %}"></script>
{% endblock page_js %}