{% extends 'base.html' %}
{% load static from staticfiles %}


{% block site_title %}SLT | Password Reset Complete{% endblock site_title %}
{% block page_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/slt_registration.css' %}"/>
{% endblock page_css %}

{% block site_body %}
<div class="main">
    <div class="registration-form">
        <div class="head">
            <img src="{% static 'images/ampere_logo.png' %}" alt=""/>
        </div>
        <h1>Password reset complete</h1>
        <p>Your password has been set. You may go ahead and log in now.
        <a href="/accounts/login/">Login</a></p>
    </div>
    <div class="copy-right">
        <!-- <p>Copyrights &copy; <a href="http://www.amperecomputing.com">VDC SLT</a></p> -->
    </div>
</div>
{% endblock site_body %}


{% block page_js %}
{% endblock page_js %}