{% extends 'base.html' %}
{% load static from staticfiles %}


{% block site_title %}SLT | Reset Password{% endblock site_title %}
{% block page_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/slt_registration.css' %}"/>
{% endblock page_css %}

{% block site_body %}
<div class="main">
    <div class="registration-form">
        <div class="head">
            <img src="{% static 'images/ampere_logo.png' %}" alt=""/>
        </div>
        <h1>Enter new password</h1>
        <form method="post">
            {% csrf_token %}
            <label>New password:</label>
            <input type="password" name="new_password1">
            <label>Confirmation password:</label>
            <input type="password" name="new_password2">
            <input type="submit" value="RESET PASSWORD" >
        </form>
    </div>
    <div class="copy-right">
        <!-- <p>Copyrights &copy; <a href="http://www.amperecomputing.com">VDC SLT</a></p> -->
    </div>
</div>
{% endblock site_body %}


{% block page_js %}
{% endblock page_js %}